USE [master]
GO
/****** Object:  Database [MidtermProject]    Script Date: 10.05.2023 13:28:31 ******/
CREATE DATABASE [MidtermProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MidtermProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MidtermProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MidtermProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MidtermProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MidtermProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MidtermProject]
GO
/****** Object:  Table [dbo].[FACTORIES]    Script Date: 10.05.2023 13:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_E_MAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[FACTORY_NAME] [nvarchar](50) NOT NULL,
	[FACTORY_TYPE_ID] [int] NOT NULL,
	[FACTORY_PHONE_NUMBER] [char](20) NULL,
	[FACTORY_COUNTRY] [nvarchar](50) NULL,
	[FACTORY_ADDRESS] [nvarchar](500) NULL,
	[FACTORY_TAX_NUMBER] [nvarchar](50) NULL,
 CONSTRAINT [PK_FACTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTORY_TYPE]    Script Date: 10.05.2023 13:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORY_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_TYPE_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FACTORY_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 10.05.2023 13:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [nvarchar](50) NOT NULL,
	[PRODUCT_DETAILS] [nvarchar](50) NULL,
	[PRODUCT_PRICE] [numeric](18, 0) NULL,
	[QUANTITY] [decimal](18, 0) NULL,
	[WAREHOUSE_ID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 10.05.2023 13:28:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WAREHOUSE_NAME] [nvarchar](50) NULL,
	[WAREHOUSE_E_MAIL] [nvarchar](50) NOT NULL,
	[WAREHOUSE_PHONE_NUMBER] [char](20) NULL,
	[WAREHOUSE_COUNTRY] [nvarchar](50) NULL,
	[WAREHOUSE_ADDRESS] [nvarchar](250) NULL,
	[WAREHOUSE_PASSWORD] [nvarchar](50) NULL,
 CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTORIES]  WITH CHECK ADD  CONSTRAINT [FK_FACTORIES_FACTORY_TYPE] FOREIGN KEY([FACTORY_TYPE_ID])
REFERENCES [dbo].[FACTORY_TYPE] ([ID])
GO
ALTER TABLE [dbo].[FACTORIES] CHECK CONSTRAINT [FK_FACTORIES_FACTORY_TYPE]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_PRODUCTS] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[WAREHOUSE] ([ID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_PRODUCTS]
GO
USE [master]
GO
